<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<!--
<a href="/about">About me</a>

< %= link_to "About Me, Myself, and I", pages_ about_ path %>
This is saying go the pages folder and find the about page with the variable
(pages_about_path)
-->
<%= link_to "About Me", about_path %>
