<div class="container">
  <h1>My Personal Home Page</h1>
  <p>You can read more about me, or check out my blog.</p>
  <!--
<a href="/about">About me</a>

< %= link_to "About Me, Myself, and I", pages_ about_ path %>
This is saying go the pages folder and find the about page with the variable
(pages_about_path)
-->
  <%= link_to "About Me", about_path %>
</div>